# Node modules
node_modules/
**/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Build directories
dist/
build/
out/

# Temporary files
*.tmp
*.temp

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.sublime-workspace

# Environment variables
.env
.env.local
.env.*.local

# Turborepo cache
turbo/
